@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ACP Group Teste Prático</h1>
    <p class="lead">Aplicação criada para cadastrar um usuario e seus respectivos enderecos seguindo a especificação dada abaixo como desafio tecnico para ACP Group</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>1) Criar um projeto com um CRUD que atenda as seguintes especificações:</h2>
        <p>
            Tela de cadastro contendo os campos nome, email, cpf, perfil e endereços.<br />
            Tela de pesquisa contendo os filtros de nome, cpf e período de cadastro.<br />
            Tela de alterar.<br />
            Tela de excluir.<br />
            Tela de detalhar.<br />
            Um usuário só pode ser vinculado a um perfil.<br />
            Um perfil pode possuir um ou vários usuários.<br />
            Um usuário pode ter mais de um endereço, e um mesmo endereço pode pertencer a mais de um usuário.<br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>2) O projeto obrigatoriamente deve respeitar a arquitetura MVC.s</h2>
    </div>
</div>